%div#user-actions.round
  %p= link_to("Create New From Method", new_from_method_path)
%table
  %thead
    %tr
      %th From Method
      %th Type
  %tbody
    - @from_methods.each do |from_method|
      %tr
        %td= link_to from_method.from_method, from_method
        %td= from_method.from_method_type